*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: fantasy;
    background-color: rgb(122, 221, 206);
    color: rgb(180, 110, 251);
    padding-top: 50px;
}
header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

.header{
    background-color: rgb(184, 47, 47);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .logo{
    font-size: 24px;
    font-weight: bold;

}
.dropdown{
    position: relative;
}
.dropbtn{
    background-color: rgb(236, 214, 214);
    color: black;
    padding: 10px 20px;
    border:none;
    cursor: pointer;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    color: aquamarine;
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: yellow;

}
.dropdown:hover .dropdown-content{
    display: block;
}
.sear{
    padding: 10px 20px;
    background-color: rgb(105, 162, 49);
    color: black;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.cart{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.cart i{
    color:black;
    margin-right: 5px;
}
.cart p{
    background-color: hotpink;
    color: paleturquoise;
    border-radius: 50%;
    padding: 2px 6px
}

.slider-container{
    width: 70%;
    height: 30%;
    margin: auto;
    overflow: hidden;
    padding-top: 120px;

}

.slider{
    display: flex;
    width: 100%;
    animation: slide 20s infinite;
}

.slider img{
    width:100%;
    height:auto;
}


@keyframes slide{
    0%,25% {transform: translateX(0);}
    30%,50% {transform: translateX(-100%);}
    55%,75% {transform: translateX(-200%);}
    80%,100% {transform: translateX(-300%);}
}
main{
    padding-top: 50px;
}

.products{
    padding: 40px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width:calc(33.3% - 20px);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.card img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.details{
    padding: 20px;
    text-align: center;
}

.details h1{
    font-size: 20px;
    color: rgb(53, 72, 218);
}

.price{
    font-size: 16px;
    color: #666;
}

.size{
    font-size: 16px;
    color: #666;
}

.add-to-cart{
    padding: 10px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart:hover{
    background-color: black;
}